body {
    background-color: rgb(85, 173, 63);
    color: white;
    max-width: 1280px;
    margin: 0 auto;
   font-family: 'Noto Sans HK', sans-serif;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
#board-container {
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    width: 92%;
}

.board{
    background-color: rgb(36, 68, 21);
    display: inline-block;
    width: 4%;
    min-height: 5px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    margin: 11px;
    border-radius: 50%;
    padding: 10px;
}

#random-button{
    background-color: rgb(228, 233, 225);
    display: inline-block;
    
    min-height: 5px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    margin: 11px;
    border-radius: 10%;
    padding: 10px;
    color: black;
    align-self: center;
}